**/Debug
**/Release
**/Release_x86
**/.vs
**/*.opendb
**/*.aps
**/*.suo
**/*.db
audio/*.bak
vis_milk2/*.bak
vcpkg_installed/
BeatDrop/BeatDrop_x86.exe
BeatDrop/BeatDrop Resources/dlls/
BeatDrop/BeatDrop Resources/shadercache/
